body {
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
   .container {
      //max-width: 1170px;
   }
   h1, h2, h3, h4, h5 {
      font-family: 'Raleway', sans-serif;
   }
   .btn {
      width: 135px;
      height: 40px;
      font-size: 13px;
      font-weight: 600;
      color: #353535;
      border: 1px solid #353535;
      line-height: 2;
      border-radius: 2px;
      transition: .4s;
   }
   .info {
      margin-bottom: 45px;
      h3 {
         font-size: 24px;
         font-weight: 900;
         color: #353535;
         line-height: 1;
         margin-bottom: 40px;
         position: relative;
      }
      h3:before {
         content: "";
         position: absolute;
         background: #353535;
         height: 1px;
         width: 50px;
         left: 50%;
         transform: translateX(-50%);
         top: 45px;
      }
      .lead {
         font-size: 16px;
         font-style: italic;
         color: #353535;
         margin: 0;
         margin-bottom: 35px;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ NAVIGRATION ~~~~~~~~~~~~~~~~~~~~*/
#navigration {
   padding: 0;
   .container {
      width: 1170px !important;
   }
   background: rgba(255, 255, 255, 0.8);
   #hamburger {
      position: relative;
      width: 30px;
      height: 30px;
      border-color: rgba(0, 0, 0, 0);
      .icon {
         position: absolute;
         background: #8ec448;
         width: 30px;
         height: 3px;
         top: 12px;
         right: 0px;
      }
      .icon:before,
      .icon:after {
         content: "";
         position: absolute;
         width: 30px;
         height: 3px;
         background: #8ec448;
         transition: .4s;
      }
      .icon:before {
         top: -10px;
      }
      .icon:after {
         top: 10px;
      }
   }
   #hamburger.active .icon {
      background: none;
   }
   #hamburger.active .icon:before {
      background: #8ec448;
      top: 0;
      transform: rotate(45deg);
   }
   #hamburger.active .icon:after {
      background: #8ec448;
      top: 0;
      transform: rotate(-45deg);
   }
   #navbar {
      .nav-item {
         margin: 35px 15px;
         .nav-link {
            color: #353535;
            font-size: 13px;
            transition: .4s;
            padding: 0;
         }
         .nav-link.active,
         .nav-link:hover {
            color: #8ec448;
         }
      }
   }
   .input-group {
      height: 35px;
      width: 170px;
      .form-control {
         font-size: 14px;
         border-radius: 0px;
         background: none;
      }
      .form-control:focus {
         box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25) !important;
      }
      .form-control:focus {
         border: 1px solid #ddd;
      }
      .input-group-append {
         .input-group-text {
            border-radius: 0px;
            background: none;
            text-decoration: none;
         }
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ HOME SECTION ~~~~~~~~~~~~~~~~~~~~*/
#homeSection {
   .slider {
      height: 800px;
      .home-info {
         position: relative;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         h3 {
            font-size: 24px;
            color: #353535;
            font-weight: 600;
            margin-bottom: 20px;
            font-family: 'Lato', sans-serif;
         }
         h1 {
            font-size: 60px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 35px;
         }
         .btn-box {
            .btn {
               margin: 0px 7px;
            }
            .btn2 {
               background: #8ec448;
               color: #fff;
               border: 1px solid #8ec448;
            }
         }
      }
   }
   .slider1 {
      background: url(../img/slider1.png);
      background-size: cover;
      background-position: center;
   }
   .slider2 {
      background: url(../img/slider2.png);
      background-size: cover;
      background-position: center;
   }
   .slider3 {
      background: url(../img/slider3.png);
      background-size: cover;
      background-position: center;
   }
   .owl-dots {
      position: relative;
      bottom: 58px;
      .owl-dot {
         width: 10px !important;
         height: 10px !important;
         background: none;
         border: 1px solid #353535;
         border-radius: 20px;
         margin: 0px 5px;
      }
      .owl-dot:focus {
         outline: 0px dotted !important;
         outline: 0px auto -webkit-focus-ring-color !important;
      }
      .owl-dot.active {
         background: #8ec448;
         border: 1px #8ec448;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ SERVICES SECTION ~~~~~~~~~~~~~~~~~~~~*/
#serviceSection {
   margin-top: 70px;
   .service-box {
      padding: 0px 4px;
      margin: 50px 0px;
      .fa {
         font-size: 24px;
         margin: 0px;
      }
      h5 {
         font-size: 16px;
         font-weight: bold;
         margin: 20px 0px;
      }
      P {
         font-size: 14px;
         margin: 0;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ WORK SECTION ~~~~~~~~~~~~~~~~~~~~*/
#workSection {
   margin-top: 50px;
   .selector {
      margin-bottom: 45px;
      span {
         font-size: 12px;
         margin: 0px 20px;
         line-height: 1;
         position: relative;
         transition: .4s;
         cursor: pointer;
         font-weight: 600;
         font-family: 'Raleway', sans-serif;
      }
      span.active,
      span:hover {
         color: #8ec448;
      }
      span:after {
         content: "/";
         position: absolute;
         right: -25px;
         color: #353535;
      }
   }
   #portfolio {
      .portfolio-item {
         position: relative;
         margin: 15px 0px;
         .img-box {
            position: relative;
            max-width: 370px;
            max-height: 400px;
            .txt-box {
               position: absolute;
               background: rgba(0, 0, 0, .5);
               width: 100%;
               height: 100%;
               top: 0;
               opacity: 0;
               transition: .4s;
               .inner-txt {
                  position: relative;
                  top: 175px;
                  .fa {
                     font-size: 26px;
                     background: #8ec448;
                     padding: 11px 12px;
                     border-radius: 40px;
                     color: #fff;
                  }
                  h5 {
                     margin-top: 60px;
                     margin-bottom: 10px;
                     color: #8ec448;
                     font-size: 14px;
                     font-weight: bold;
                  }
                  span {
                     font-size: 13px;
                     font-weight: 500;
                     margin: 0;
                     color: #fff;
                  }
               }
            }
         }
         .img-box:hover {
            .txt-box {
               opacity: 1;
            }
         }
      }
   }
   .btn {
      margin-top: 45px;
   }
}

/*~~~~~~~~~~~~~~~~~~~~ ABOUT SECTION ~~~~~~~~~~~~~~~~~~~~*/
#aboutSection {
   margin-top: 100px;
   .info {
      margin-bottom: 60px;
      h3 {
         font-size: 24px;
         font-weight: 900;
         color: #353535;
         margin-bottom: 40px;
         position: relative;
      }
      h3:before {
         content: "";
         position: absolute;
         background: #353535;
         height: 1px;
         width: 50px;
         left: 50%;
         transform: translateX(-50%);
         top: 45px;
      }
      .lead {
         font-size: 16px;
         font-style: italic;
         color: #353535;
         margin: 0;
         margin-bottom: 35px;
      }
      p {
         margin: 0;
         font-size: 14px;
         padding: 0px 30px;
      }
      .btn {
         margin-top: 45px;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ SKILL SECTION ~~~~~~~~~~~~~~~~~~~~*/
#skillSection {
   overflow: hidden;
   background: url(../img/skill-bg.png);
   background-size: cover;
   background-position: left;
   height: 615px;
   padding-top: 50px;
   .single-progressbar {
      margin-bottom: 30px;
      h5 {
         font-size: 12px;
         font-weight: bold;
         margin-bottom: 20px;
      }
      .progressbar {
         height: 10px !important;
         .proggress {
            height: 10px !important;
         }
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ TEAM SECTION ~~~~~~~~~~~~~~~~~~~~*/
#teamSection {
   margin-top: 100px;
   margin-bottom: 85px;
   .info {
      margin-bottom: 45px;
      h3 {
         font-size: 24px;
         font-weight: 900;
         color: #353535;
         line-height: 1;
         margin-bottom: 40px;
         position: relative;
      }
      h3:before {
         content: "";
         position: absolute;
         background: #353535;
         height: 1px;
         width: 50px;
         left: 50%;
         transform: translateX(-50%);
         top: 45px;
      }
      .lead {
         font-size: 16px;
         font-style: italic;
         color: #353535;
         margin: 0;
         margin-bottom: 35px;
      }
   }
   .team-box {
      max-height: 400px;
      max-width: 370px;
      position: relative;
      overflow: hidden;
      margin: 15px 0px;
      .txt-box {
         background: rgba(0, 0, 0, .5);
         height: 130px;
         width: 100%;
         position: absolute;
         bottom: 0;
         transition: .4s;
         .inner-txt {
            position: relative;
            top: 35%;
            h5 {
               font-size: 12px;
               font-weight: bold;
               line-height: 1;
               margin-bottom: 15px;
               color: #fff;
            }
            span {
               font-size: 10px;
               font-weight: bold;
               color: #fff;
            }
            .social-icons {
               transform: translateY(16px);
               margin-top: 18px;
               .fa {
                  font-size: 16px;
                  color: #fff;
                  margin: 0px 5px;
                  border: 1px solid #fff;
                  height: 40px;
                  width: 40px;
                  line-height: 2.5;
                  border-radius: 30px;
                  transition: .4s;
               }
               .fa:hover {
                  color: #1da1f2;
               }
            }
         }
      }
   }
   .team-box:hover {
      .txt-box {
         height: 100%;
         .social-icons {
            transform: translateY(0px);
         }
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ TESTIMONIAL SECTION ~~~~~~~~~~~~~~~~~~~~*/
#testimonialSection {
   background: url(../img/testimonial-bg.png);
   background-size: cover;
   background-position: center;
   padding-top: 80px;
   padding-bottom: 130px;
   .info {
      h3, p {
         color: #fff;
      }
      h3:before {
         background: #fff;
      }
   }
   .owl-carousel {
      position: relative;
   }
   .testimonial-box {
      margin: auto;
      display: flex;
      .img-box {
         background: none;
         border: 1px solid #fff;
         border-radius: 100px;
         padding: 3px;
         margin-right: 40px;
      }
      .info-box {
         background: #fff;
         max-width: 370px;
         padding: 0px 30px;
         position: relative;
         h5 {
            color: #353535;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
            margin-top: 75px;
            line-height: 1;
         }
         span {
            font-size: 16px;
            font-style: italic;
            display: inline-block;
         }
         p {
            font-size: 14px;
            font-style: italic;
            margin: 0;
            padding: 40px 0px 50px 0px;
         }
      }
      .info-box:before {
         content: "";
         background: #fff;
         width: 50px;
         height: 50px;
         position: absolute;
         border-radius: 10px;
         left: -4px;
         top: 0;
         bottom: 0;
         margin: auto;
         transform: rotate(45deg) skew(-20deg, -20deg);
         z-index: 0;
      }
   }
   .owl-dots {
      position: relative;
      text-align: center;
      top: 53px;
      .owl-dot {
         width: 10px !important;
         height: 10px !important;
         background: none;
         border: 1px solid #fff;
         border-radius: 20px;
         margin: 0px 5px;
      }
      .owl-dot:focus {
         outline: 0px dotted !important;
         outline: 0px auto -webkit-focus-ring-color !important;
      }
      .owl-dot.active {
         background: #8ec448;
         border: 1px #8ec448;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ BLOG SECTION ~~~~~~~~~~~~~~~~~~~~*/
#blogSection {
   .blog-box {
      background: #f9f9f9;
      max-width: 570px;
      max-height: 212px;
      margin: auto;
      .img-box {
         img {
            height: 100%;
         }
      }
      .info-box {
         padding: 15px;
         max-width: 285px;
         .header {
            margin-bottom: 30px;
            span {
               font-size: 12px;
            }
         }
         h5 {
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            margin: 0;
            padding: 0;
            margin-bottom: 25px;
         }
         p {
            font-size: 13px;
            line-height: 1;
            margin-bottom: 20px;
         }
         a {
            font-size: 13px;
            color: #8ec448;
            font-weight: bold;
         }
      }
   }
   .owl-dots {
      position: relative;
      text-align: center;
      top: 53px;
      .owl-dot {
         width: 10px !important;
         height: 10px !important;
         background: none;
         border: 1px solid #353535;
         border-radius: 20px;
         margin: 0px 5px;
      }
      .owl-dot:focus {
         outline: 0px dotted !important;
         outline: 0px auto -webkit-focus-ring-color !important;
      }
      .owl-dot.active {
         background: #8ec448;
         border: 1px #8ec448;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ PARTNER SECTION ~~~~~~~~~~~~~~~~~~~~*/
#partnerSection {
   margin-top: 145px;
   .brand {
      width: 210px;
      height: 78px;
      border: 1px solid #ddd;
      padding: 25px;
      margin: auto;
   }
   .owl-dots {
      position: relative;
      text-align: center;
      background: #ddd;
      height: 10px;
      top: 53px;
      .owl-dot {
         width: 210px !important;
         height: 10px !important;
         background: none;
         border-radius: 2px;
         position: relative;
         top: -8px;
      }
      .owl-dot:focus {
         outline: 0px dotted !important;
         outline: 0px auto -webkit-focus-ring-color !important;
      }
      .owl-dot.active {
         background: #8ec448;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ SIGNUP SECTION ~~~~~~~~~~~~~~~~~~~~*/
#signupSection {
   margin-top: 145px;
   background: url(../img/contact-bg.png);
   background-size: cover;
   background-position: center;
   position: relative;
   .overlay {
      background: rgba(0, 0, 0, .7)
   }
   .info {
      margin-top: 80px;
      h3, p{
         color: #fff;
      }
      h3:before {
         background: #fff;
      }
   }
   .input-group {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 80px;
      height: 50px;
      max-width: 570px;
      input {
         border-radius: 0px;
         padding: 12px 25px;
         font-size: 13px;
         font-weight: 500;
         border: 1px solid #ddd;
         color: #fff;
         background: none;
         height: 100%;
      }
      .form-control:focus {
         box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25) !important;
      }
      .form-control:focus {
         border: 1px solid #ddd;
      }
      ::-webkit-input-placeholder {
         color: #fff;
      }
   }
   .input-group-append {
      .input-group-text {
         width: 65px;
         border-radius: 0px;
         text-decoration: none;
         background: none;
         padding-left: 20px;
         .fa {
            font-size: 20px;
            color: #fff;
            transition: .4s;
         }
         .fa:hover {
            color: #1da1f3;
         }
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ FOOTER SECTION ~~~~~~~~~~~~~~~~~~~~*/
#footerSection {
   padding-top: 85px;
   .logo-area {
      p {
         font-size: 14px;
         color: #555;
      }
      .icon {
         margin-right: 30px;
         .fa {
            font-size: 20px;
         }
      }
      span {
         font-size: 14px;
         color: #555;
      }
      .nmbr, .mail, .adrs {
         border-top: 1px solid #ddd;
         padding-top: 18px;
         margin-bottom: 20px;
      }
   }
   .gallery-area {
      h4 {
         margin: 0;
         margin-top: 20px;
         margin-left: 0px;
         margin-bottom: 50px;
         line-height: 1;
         font-size: 14px;
         font-weight: bold;
      }
      .gallerys {
         max-width: 262px;
         .row {
            margin-right: 0px;
         }
         .img-box {
            margin: 5px 0px;
         }
         img {
            max-width: 200% !important
         }
      }
   }
   .feed {
      h4 {
         margin: 0;
         margin-top: 20px;
         margin-bottom: 50px;
         line-height: 1;
         font-size: 14px;
         font-weight: bold;
      }
      .icon {
         margin-right: 30px;
         margin-top: 5px;
         .fa {
            font-size: 20px;
         }
      }
      .txt {
         p {
            font-size: 14px;
            margin: 0;
         }
         h5 {
            margin: 0;
            margin-top: 5px;
            font-weight: bold;
         }
      }
      .feed1 {
         margin-bottom: 40px;
      }
   }
   .blog-area {
      h4 {
         margin: 0;
         margin-top: 20px;
         margin-bottom: 55px;
         line-height: 1;
         font-size: 14px;
         font-weight: bold;
      }
      .txt {
         p {
            font-size: 14px;
            line-height: 1;
            margin: 0;
            margin-left: 10px;
         }
      }
      .blog1, .blog2 {
         margin-bottom: 10px;
      }
   }
}

/*~~~~~~~~~~~~~~~~~~~~ COPYRIGHT SECTION ~~~~~~~~~~~~~~~~~~~~*/
#copyrightSection {
   margin-top: 80px;
   .row {
      padding: 30px 0px;
      border-top: 1px solid #ddd;
   }
   .copyright {
      padding-top: 8px;
      span {
         font-size: 13px;
      }
   }
   .social-links {
      .fa {
         height: 40px;
         width: 40px;
         color: #555;
         font-size: 16px;
         border: 1px solid #ddd;
         line-height: 2.4;
         padding-left: 10px;
         border-radius: 30px;
         transition: .4s;
         margin-right: 8px;
      }
      .fa:hover {
         color: #1da1f2;
      }
   }
}

/*-- SCROLL UP --*/
.scroll-up {
   position: fixed;
   right: 35px;
   bottom: 35px;
   font-size: 35px;
   color: #8ec448;
}
.scroll-up:hover {
   color: #8ec448;
}

@media (min-width: 1200px) {
   .container {
       max-width: 1170px;
   }
}

@media (max-width: 992px) {
   #navigration {
      #navbar {
         .nav-item {
            margin: 25px 15px;
         }
      }
      .input-group {
         display: none;
      }
   }
   #aboutSection {
      .info {
         margin-top: 60px;
      }
   }
}

@media (max-width: 768px) {
   #workSection {
      #portfolio {
         .mix {
            .portfolio-item {
               .img-box {
                  margin: auto;
               }
            }
         }
      }
   }
   #teamSection {
      .team-box {
         margin-left: auto;
         margin-right: auto;
      }
   }
   #partnerSection {
      .owl-dots {
         display: none;
      }
   }
   #signupSection {
      margin-top: 80px;
   }
   #copyrightSection {
      .copyright,
      .social-links {
         float: none !important;
      }
      .social-links {
         margin-top: 20px;
      }
   }
}
@media (max-width: 552px) {
   #copyrightSection {
      .copyright,
      .social-links {
         float: none !important;
      }
      .social-links {
         margin-top: 20px;
      }
   }
}
